# Week 1 Homework

Commands ran prior to starting the homework to get the data into our data directory:

- `wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet`
- `wget https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet`

In [59]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

### Question 1:
Download the data for January and February 2023.

Read the data for January. How many columns are there?

In [36]:
df = pd.read_parquet('../data/yellow_tripdata_2023-01.parquet')

In [37]:
df.shape

(3066766, 19)

There are 19 columns.

### Question 2:
Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration in January?

In [38]:
df['duration'] = (df.tpep_dropoff_datetime - df.tpep_pickup_datetime)
df['duration'] = df.duration.apply(lambda td: td.total_seconds() / 60) # convert time delta to minutes

In [39]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [40]:
df.duration.std()

42.594351241920904

Calculated `duration` feature has standard deviation of 42.59.

## Question 3:

Next, we need to check the distribution of the `duration` variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [42]:
df.describe

<bound method NDFrame.describe of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1               2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2               2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3               1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4               2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0
...           ...                  ...                   ...              ...
3066761         2  2023-01-31 23:58:34   2023-02-01 00:12:33              NaN
3066762         2  2023-01-31 23:31:09   2023-01-31 23:50:36              NaN
3066763         2  2023-01-31 23:01:05   2023-01-31 23:25:36              NaN
3066764         2  2023-01-31 23:40:00   2023-01-31 23:53:00              NaN
3066765         2  2023-01-31 23:07:32   2023-01-31 23:21:56              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.97         1.0                  N           161
1                 1.10         1.0                  N            43
2                 2.51         1.0                  N            48
3                 1.90         1.0                  N           138
4                 1.43         1.0                  N           107
...                ...         ...                ...           ...
3066761           3.05         NaN               None           107
3066762           5.80         NaN               None           112
3066763           4.67         NaN               None           114
3066764           3.15         NaN               None           230
3066765           2.85         NaN               None           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 141             2         9.30   1.00      0.5        0.00
1                 237             1         7.90   1.00      0.5        4.00
2                 238             1        14.90   1.00      0.5       15.00
3                   7             1        12.10   7.25      0.5        0.00
4                  79             1        11.40   1.00      0.5        3.28
...               ...           ...          ...    ...      ...         ...
3066761            48             0        15.80   0.00      0.5        3.96
3066762            75             0        22.43   0.00      0.5        2.64
3066763           239             0        17.61   0.00      0.5        5.32
3066764            79             0        18.15   0.00      0.5        4.43
3066765           143             0        15.97   0.00      0.5        2.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         14.30
1                 0.0                    1.0         16.90
2                 0.0                    1.0         34.90
3                 0.0                    1.0         20.85
4                 0.0                    1.0         19.68
...               ...                    ...           ...
3066761           0.0                    1.0         23.76
3066762           0.0                    1.0         29.07
3066763           0.0                    1.0         26.93
3066764           0.0                    1.0         26.58
3066765           0.0                    1.0         21.97

         congestion_surcharge  airport_fee   duration
0                         2.5         0.00   8.433333
1                         2.5         0.00   6.316667
2                         2.5         0.00  12.750000
3                         0.0         1.25   9.616667
4                         2.5         0.00  10.833333
...                       ...          ...        ...
3066761                   NaN          NaN  13.983333
3066762                   NaN          NaN  19.450000
3066763                   NaN          NaN  24.516667
3066764                   NaN          NaN  13.000000
3066765                   NaN          NaN  14.400000

[3066766 rows x 20 columns]>

In [43]:
df = df[(df.duration >= 1) & (df.duration <= 60)]

In [44]:
df.describe

<bound method NDFrame.describe of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               2  2023-01-01 00:32:10   2023-01-01 00:40:36              1.0
1               2  2023-01-01 00:55:08   2023-01-01 01:01:27              1.0
2               2  2023-01-01 00:25:04   2023-01-01 00:37:49              1.0
3               1  2023-01-01 00:03:48   2023-01-01 00:13:25              0.0
4               2  2023-01-01 00:10:29   2023-01-01 00:21:19              1.0
...           ...                  ...                   ...              ...
3066761         2  2023-01-31 23:58:34   2023-02-01 00:12:33              NaN
3066762         2  2023-01-31 23:31:09   2023-01-31 23:50:36              NaN
3066763         2  2023-01-31 23:01:05   2023-01-31 23:25:36              NaN
3066764         2  2023-01-31 23:40:00   2023-01-31 23:53:00              NaN
3066765         2  2023-01-31 23:07:32   2023-01-31 23:21:56              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 0.97         1.0                  N           161
1                 1.10         1.0                  N            43
2                 2.51         1.0                  N            48
3                 1.90         1.0                  N           138
4                 1.43         1.0                  N           107
...                ...         ...                ...           ...
3066761           3.05         NaN               None           107
3066762           5.80         NaN               None           112
3066763           4.67         NaN               None           114
3066764           3.15         NaN               None           230
3066765           2.85         NaN               None           262

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 141             2         9.30   1.00      0.5        0.00
1                 237             1         7.90   1.00      0.5        4.00
2                 238             1        14.90   1.00      0.5       15.00
3                   7             1        12.10   7.25      0.5        0.00
4                  79             1        11.40   1.00      0.5        3.28
...               ...           ...          ...    ...      ...         ...
3066761            48             0        15.80   0.00      0.5        3.96
3066762            75             0        22.43   0.00      0.5        2.64
3066763           239             0        17.61   0.00      0.5        5.32
3066764            79             0        18.15   0.00      0.5        4.43
3066765           143             0        15.97   0.00      0.5        2.00

         tolls_amount  improvement_surcharge  total_amount  \
0                 0.0                    1.0         14.30
1                 0.0                    1.0         16.90
2                 0.0                    1.0         34.90
3                 0.0                    1.0         20.85
4                 0.0                    1.0         19.68
...               ...                    ...           ...
3066761           0.0                    1.0         23.76
3066762           0.0                    1.0         29.07
3066763           0.0                    1.0         26.93
3066764           0.0                    1.0         26.58
3066765           0.0                    1.0         21.97

         congestion_surcharge  airport_fee   duration
0                         2.5         0.00   8.433333
1                         2.5         0.00   6.316667
2                         2.5         0.00  12.750000
3                         0.0         1.25   9.616667
4                         2.5         0.00  10.833333
...                       ...          ...        ...
3066761                   NaN          NaN  13.983333
3066762                   NaN          NaN  19.450000
3066763                   NaN          NaN  24.516667
3066764                   NaN          NaN  13.000000
3066765                   NaN          NaN  14.400000

[3009173 rows x 20 columns]>

In [45]:
3009173 / 3066766

0.9812202822125979

~98% of the record remain.

### Question 4:

Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

- Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
- Fit a dictionary vectorizer
- Get a feature matrix from it

What's the dimensionality of this matrix (number of columns)?

In [47]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [48]:
categorical = ['PULocationID', 'DOLocationID']
numerical = ['distance']

In [49]:
df[categorical].dtypes

PULocationID    int64
DOLocationID    int64
dtype: object

In [50]:
df[categorical] = df[categorical].astype(str)
df[categorical].dtypes

/tmp/ipykernel_717213/1926353661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[categorical] = df[categorical].astype(str)

PULocationID    object
DOLocationID    object
dtype: object

In [52]:
train_dicts = df[categorical].to_dict(orient='records')

In [53]:
dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [54]:
X_train

<3009173x515 sparse matrix of type '<class 'numpy.float64'>'
	with 6018346 stored elements in Compressed Sparse Row format>

There are 515 columns.

### Question 5:
Now let's use the feature matrix from the previous step to train a model.

- Train a plain linear regression model with default parameters
- Calculate the RMSE of the model on the training data

What's the RMSE on train?

In [56]:
# I am assuming we are using duration as the target
target = 'duration'
y_train = df[target].values

In [57]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [60]:
y_pred = lr.predict(X_train)
mean_squared_error(y_train, y_pred, squared=False)

7.649261822035489

RMSE of ~7.64.

### Question 6:

Now let's apply this model to the validation dataset (February 2023).

What's the RMSE on validation?

In [63]:
def read_dataframe(filename):
    df = pd.read_parquet(filename)

    df['duration'] = (df.tpep_dropoff_datetime - df.tpep_pickup_datetime)
    df.duration = df.duration.apply(lambda td: td.total_seconds() / 60)
    df = df[(df.duration >= 1) & (df.duration <= 60)]

    categorical = ['PULocationID', 'DOLocationID']
    df[categorical] = df[categorical].astype(str)

    return df

In [64]:
df_train = read_dataframe('../data/yellow_tripdata_2023-01.parquet')
df_val = read_dataframe('../data/yellow_tripdata_2023-02.parquet')

In [67]:
dv = DictVectorizer()

train_dicts = df_train[categorical].to_dict(orient='records')
X_train = dv.fit_transform(train_dicts)

val_dicts = df_val[categorical].to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [68]:
target = 'duration'
y_train = df_train[target].values
y_val = df_val[target].values

In [69]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_val)

mean_squared_error(y_val, y_pred, squared = False)

7.811821332387183

RMSE on validation is ~7.81.